html {
  font-family: var(--app-font-family);
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 332px;
  display: flex;
  flex-direction: column;
}

body, #root {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #0b0b0f;
}
